[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"

[packages]
awscli = "*"
pypdf2 = "*"
ipywidgets = "*"
farm-haystack = {extras = ["colab", "faiss", "preprocessing"], version = "*"}
ipynb = "*"
boto3 = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"
